#jntu {
    border-radius: 50%;
}

.main {
    background: url(logo.png)  no-repeat center;   
    z-index: -3;     
}

#agra {
    margin-left: 550px;
}
#barcode {
    margin-left: 25px;
}
#date {
    margin-left: 6px;
}

#registrar {
    margin-left: 550px;
}
#final{
    text-align: center;
}

body {
    border: 8px solid;
    border-image: url("border2.png") 6 round;
}

#marks {
    margin-left: 600px;
}
